.checked-row{
    background-color: rgba(0, 120, 201, 0.7)
}

td{
border-bottom: 1px solid grey;
border-left: 1px solid grey;
padding:5px ;
}

td:first-child {
    min-width: 30px;
    max-width: 30px;
  }
td:nth-child(2){
    min-width: 200px;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
   
}
td:nth-child(3){
    min-width: 200px;
    max-width: 400px;
    overflow: hidden;
}
.td-text{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: wrap;
}

.edit-icon:hover{
cursor: pointer;
}